

DB_URL=jdbc:mysql://localhost:3306/courseacademy?useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=123!@#abc

JWT_SECRET=AffordTech@2026#JWT!Secure$Random%Secret^123456789ABCDEFGHIJKLMNOPQRSTUVbhav
JWT_EXPIRATION_MS=604800000

ADMIN_NAME=bhavyasri
ADMIN_EMAIL=nsbhavyasri24@gmail.com
ADMIN_PASSWORD=Secret@123456789

SMTP_USERNAME=affordtech123@gmail.com
SMTP_PASSWORD=GN8Ni95qkvlgA7eB
MAIL_FROM=affordtech123@gmail.com